h1 Welcome to Tic-Tac-Toe!
h3 Open another browser window and play!

link(rel='stylesheet' type='text/css' href='/styles/style.css')

form
  .fields-container
    input(type='button' name='1' class='inputBox' value=' ')
    input(type='button' name='2' class='inputBox' value=' ')
    input(type='button' name='3' class='inputBox' value=' ')
  .fields-container
    input(type='button' name='4' class='inputBox' value=' ')
    input(type='button' name='5' class='inputBox' value=' ')
    input(type='button' name='6' class='inputBox' value=' ')
  .fields-container
    input(type='button' name='7' class='inputBox' value=' ')
    input(type='button' name='8' class='inputBox' value=' ')
    input(type='button' name='9' class='inputBox' value=' ')

script(src='/vendor/socket.io-client/socket.io.js')
script(src='/js/main.js')

