h1 tic tac toe

link(rel='stylesheet' type='text/css' href='/styles/style.css')

form
  .fields-container
    input(type='button' name='1' id='1' value=' ')
    input(type='button' name='2' id='2' value=' ')
    input(type='button' name='3' id='3' value=' ')
  .fields-container
    input(type='button' name='4' id='4' value=' ')
    input(type='button' name='5' id='5' value=' ')
    input(type='button' name='6' id='6' value=' ')
  .fields-container
    input(type='button' name='7' id='7' value=' ')
    input(type='button' name='8' id='8' value=' ')
    input(type='button' name='9' id='9' value=' ')

script(src='/vendor/socket.io-client/socket.io.js')
script(src='/js/main.js')

