h1 tic tac toe

link(rel='stylesheet' type='text/css' href='/styles/style.css')

.fields-container
  input(type='button' name='1' value='x')
  input(type='button' name='2' value=' ')
  input(type='button' name='3' value=' ')
.fields-container
  input(type='button' name='4' value=' ')
  input(type='button' name='5' value=' ')
  input(type='button' name='6' value=' ')
.fields-container
  input(type='button' name='7' value=' ')
  input(type='button' name='8' value=' ')
  input(type='button' name='9' value=' ')

